body {
    overflow-x: hidden;
}

.first {
    padding: 20px 0;
    text-align: center;
    display: flex;
    gap: 20px;
}

.first img {
    border-radius: 20px;
    flex: 1;
    max-width: 100%;
    height: 430px;
    opacity: 0;
}

.first-content {
    text-align: center;
    background-color: rgba(29, 115, 99, 0.1);
    border: 1px solid rgba(29, 115, 99, 1);
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    font-family: 'Inter';
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.second {
    padding: 20px 0;
    text-align: center;
    display: flex;
    gap: 20px;
    opacity: 0; 
    transition: opacity 0.8s ease-out;
}

.second h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #1D7363;
}

.second p {
    font-family: 'Inter';
    font-style: italic;
    font-size: 17px;
}

.second-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.img-logo {
    border: 1px solid #1D7363;
    border-radius: 20px;
    flex: 1;
}

.car-row {
    font-size: 40px;
    text-align: center;

}

h3 {
    padding: 20px 15px 0;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #1D7363;
    text-align: center;
}

.thirth {
    text-align: center;
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0px;
}


.thirth-img {
    flex-basis: 50%;
}

.thirth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.thirth-content {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;

}

.thirth-content h3 {
    font-family: 'Montserrat';
    color: #1D7363;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.thirth-content p {
    font-family: 'Inter';
    font-size: 17px;
    margin-bottom: 20px;
}

.fourth {
    text-align: center;
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
}


.fourth-img {
    flex-basis: 50%;
}

.fourth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.fourth-content {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;

}

.fourth-content h3 {
    font-family: 'Montserrat';
    color: #1D7363;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.fourth-content p {
    font-family: 'Inter';
    font-size: 17px;
    margin-bottom: 20px;
}

.animate-left {
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.animate-right {
    animation: slideInFromRight 0.8s ease-out forwards;
}
.animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}