body {
    overflow-x: hidden;
}
.first {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/assets/assets/istock2.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.first img {
    display: none; /* ẩn ảnh vì đã làm nền */
}

.first-content {
    position: relative;
    z-index: 2;
    width: 40%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-right: 40px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.first-content span {
    color: #1D7363;
    font-weight: bold;
}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
        height: auto;
        background-position: center;
        justify-content: center;
    }

    .first-content {
        width: 90%;
        margin: 20px 0;
    }
}


.second {
    padding: 20px 0;
    text-align: center;
    display: flex;
    gap: 20px;
    opacity: 0; 
    transition: opacity 0.8s ease-out;
}

.second h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #1D7363;
}

.second p {
    font-family: 'Inter';
    font-style: italic;
    font-size: 16px;
}

.second-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.img-logo {
    border: 1px solid #1D7363;
    border-radius: 20px;
    flex: 1;
}

.car-row {
    font-size: 40px;
    text-align: center;

}

h3 {
    padding: 20px 15px 0;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #1D7363;
    text-align: center;
}

.thirth {
    text-align: center;
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0px;
    cursor: pointer;
}


.thirth-img {
    flex-basis: 50%;
    opacity: 0; 
}

.thirth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.thirth-content {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0; 

}

.thirth-content h3 {
    font-family: 'Montserrat';
    color: #1D7363;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.thirth-content p {
    font-family: 'Inter';
    font-size: 16px;
    margin-bottom: 20px;
}

.fourth {
    text-align: center;
    display: flex;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    cursor: pointer;
}


.fourth-img {
    flex-basis: 50%;
    opacity: 0;
}

.fourth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.fourth-content {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.fourth-content h3 {
    font-family: 'Montserrat';
    color: #1D7363;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
}

.fourth-content p {
    font-family: 'Inter';
    font-size: 16x;
    margin-bottom: 20px;
}

.animate-left {
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.animate-right {
    animation: slideInFromRight 0.8s ease-out forwards;
}
.animate-fade-in {
    animation: fadeIn 2s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {

     .first {
        flex-direction: column;
        height: auto;
        background-position: center;
        justify-content: center;
    }

    .first-content {
        width: 90%;
        margin: 20px 0;
    }
    .second {
        flex-direction: column;
        padding: 10px;
    }


    .thirth {
        flex-direction: column;
        margin: 20px 10px;
    }

   
    .fourth {
        flex-direction: column-reverse; 
        margin: 20px 10px; 
    }

  
    .thirth-content,
    .fourth-content {
        padding: 25px;
    }

    .car-row {
        font-size: 30px;
        padding: 10px 0;
    }

    h3, .second h3, .thirth-content h3, .fourth-content h3 {
        font-size: 22px;
        padding-top: 15px;
    }
}