html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F9FAFB;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
  min-width: 0;

}

.app-side-bar {
  flex-shrink: 0; 
}

.app-content {
  flex-grow: 1; 
  display: flex; 
}

.main-layout {
  display: flex;
  flex-grow: 1; 
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}