html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F9FAFB;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
  min-width: 0;

}

.app-side-bar {
  flex-shrink: 0; 
}

.app-content {
  flex-grow: 1; 
  display: flex; 
}

.main-layout {
  display: flex;
  flex-grow: 1; 
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  
  .main-layout {
    flex-direction: column; 
    margin-left: 0; 
    margin-right: 0;
    margin-bottom: 0;
    gap: 0; 
  }

  .app-content {
    padding: 1rem;
  }
}