@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');

:host {
  --color-primary: #1D7363; 
  --color-primary-text: #212121;
  --color-secondary-text: #212121;
  --color-border: #e0e0e0;
  --color-background: #f8f9fa; 
  --color-card-bg: #ffffff;
  --color-image-bg: #eeeeee;
  --color-error: #d32f2f;;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.06); 
  --shadow-hover: 0 2px 10px rgba(29, 115, 99, 0.06); 
    font-family: 'Inter', sans-serif;

}

.main-content {
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  font-size: 16px;
  background-color: var(--color-card-bg); 
  font-family: 'Inter', sans-serif;
}


h2 {
  font-size: 32px;
  font-weight: 700; 
  color: var(--color-primary); 
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}
.card-list {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.card-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 420px;
  gap: 1.5rem;
  align-items: center;
}

.license-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  background: var(--color-card-bg);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.license-card:hover {
  transform: translateY(-5px);
  border-radius: 20px;
  box-shadow: var(--shadow-hover);
}


.license-avatar {
  flex-shrink: 0;
  width: 210px;
  height: 200px;
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fef9e8; 
}

.license-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.license-details {
  flex-grow: 1; 
  min-width: 310px; 
}

.license-details h3 {
  margin: 0 0 0.75rem 0;
  font-size: 20px; 
  font-weight: 700;
  color: var(--color-primary-text);
  font-family: 'Montserrat', sans-serif;
}

.license-details p {
  margin: 0.5rem 0;
  font-size: 16px;
  color: var(--color-secondary-text);
}

.license-details .label {
  font-weight: 600;
  color: var(--color-primary-text);
  width: 100px;
  flex-shrink: 0;
  height: auto;
}

.license-details .status-pending {
  font-weight: 600;
  color: var(--color-error);
}

.license-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-shrink: 0;
  min-width: 160px;
}

.btn {
  padding: 0.7rem 1rem;
  font-size: 16px; 
  border: 1px solid;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  transform: translateY(-2px); 
}

.btn-solid-primary {
  border-color: var(--color-primary);
  color: #ffffff;
  background: var(--color-primary);

}
.btn-solid-primary:hover {
  background: #166051; 
  box-shadow: 0 4px 12px rgba(29, 115, 99, 0.15); 
}

.btn-approve {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background: #fff;
}

.btn-outline-danger {
  border-color: var(--color-error);
  color: var(--color-error);
  background: #fff;
}

.btn-solid-primary:focus,
.btn-solid-primary:active {
  background-color: #1D7363;
  border-color: #1D7363;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(29, 115, 99, 0.25);
}

.btn-approve:hover {
  background: var(--color-primary);
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(29, 115, 99, 0.3); 
}

.btn-approve:focus,
.btn-approve:active {
  background-color: #1D7363;
  border-color: #1D7363;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(29, 115, 99, 0.25);
}

.btn-outline-danger:hover {
  background: var(--color-error);
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(211, 47, 47, 0.3); 
}



.btn-outline-danger:focus,
.btn-outline-danger:active {
  background-color: #d32f2f;
  border-color:  #d32f2f;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(159, 52, 40, 0.25);
}



.pagination {
  margin-right: 10px;
  list-style: none;
  gap: 0.5rem;
  display: flex;
  justify-content: flex-end; 
}
.pagination .page-link {
  border: none;
  background-color: #ffffff;
  color: var(--color-primary);
  border-radius: 50%; 
  transition: all 0.2s ease;
  text-decoration: none;
  width: 36px;
  height: 36px; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05); 
}
.pagination .page-link:hover {
  background-color: var(--color-primary);
  color: #ffffff;
  transform: translateY(-2px); 
  box-shadow: 0 4px 10px rgba(29, 115, 99, 0.15); 
}
.pagination .page-link i {
  font-size: 16px;
}
.pagination .page-item.active .page-link {
  background-color: var(--color-primary);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 2px 8px rgba(29, 115, 99, 0.2);
}
.pagination .page-item.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
}
@media (max-width: 992px) {

  .license-card {
    justify-content: center;
    padding: 1.2rem;
  }

  .license-avatar {
    width: 110px;
    height: 100px;
    margin-right: 20px;
  }

  .license-details {
    margin-left: 10px;
  }

  .license-actions {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .license-actions .btn {
    flex: 1;
    font-size: 14px;
    padding: 0.6rem;
  }

  .main-content {
    font-size: 14px;
  }
  h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .license-details h3 {
    font-size: 16px;
  }

  .license-details p,
  .license-details .label {
    font-size: 14px;
  }
}
