:host {
  --color-primary-text: #212121;
  --color-secondary-text: #555555;
  --color-label-text: #333333;
  --color-border: #e0e0e0;
  --color-background: #f4f7f6;
  --color-card-bg: #ffffff;
  --color-image-bg: #eeeeee;
  --color-error: #d32f2f;
  --color-info: #00796b;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
}

.main-content {
  height: 100%; 
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
  font-size: 16px; 
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-info);
  margin-top: 20px;
  margin-bottom: 25px;
}


.approval-card {
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  gap: 1.5rem;
  background: var(--color-card-bg);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);
  margin-bottom: 1.5rem;
}


.card-content-wrapper {
  display: flex;
  flex-wrap: wrap; 
  flex: 1;
  min-width: 400px; 
  gap: 1.5rem;
}

.card-image {

  flex-shrink: 0; 
  width: 200px; 
  height: 160px;
  background: var(--color-image-bg);
  overflow: hidden;
 
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center; 
}

.card-details {
  flex: 1; 
  min-width: 250px; 
}

.card-details h3 {
  margin: 0 0 0.75rem 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-text);
}

.card-details p {
  margin: 0.4rem 0;
  font-size: 16px;
  color: var(--color-secondary-text);
  text-align: left;
}

.card-details .label {
  font-weight: 600;
  color: var(--color-label-text);
  width: 100px; 
  flex-shrink: 0;
  height: auto;
}

.card-details .value {
  font-weight: 400;
  white-space: normal; 
  word-wrap: break-word;
  flex: 1; 
  min-width: 0; 
}

.card-details .value.price {
  font-weight: bold;
  color: var(--color-success);
}

.card-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-shrink: 0; 
  min-width: 130px; 
}



.btn {
  padding: 0.7rem 1rem;
  font-size: 16px;
  border: 1px solid;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.btn-detail {
  border-color: var(--color-info);
  color: var(--color-info);
  background: #fff;
}

.btn-approve {
  border-color: var(--color-info);
  color: var(--color-info);
  background: #fff;
}

.btn-detail:hover { 
    background: #1d7363; 
    color: #ffffff }

.btn-approve:hover { 
    background: #1d7363; 
    color: #ffffff;
}

.pagination {
  margin-right: 10px;
  list-style: none;
  gap: 0.5rem;
}

.pagination .page-link {
  border: none;
  background-color: #ffffff;
  color: #1D7363; 
  border-radius: 50%; 
  transition: all 0.2s ease;
  /* margin: 0 0.25rem; */
text-decoration: none;
}

.pagination .page-link:hover {
  background-color: #1D7363; 
  color: #ffffff
  

}


.pagination .page-link i {
  font-size: 16px; 

}


.pagination .page-item.active .page-link {
  border: 1px solid #1d7363

}
