/* General styles */
body {
  font-family: 'Inter', sans-serif;
  color: #000000;
}

/* TRUSTCAR brand text */
.brand-text {
  font-family: 'Montserrat', sans-serif;
}

/* Button styling */
.btn-teal {
  background-color: #1D7363;
  color: white;
  border-color: #1D7363;
}

.btn-teal:hover {
  background-color: #15574b;
  border-color: #15574b;
  color: white;
}

.nav-link {
  color: #000000;
}

.nav-link.active {
  color: #1D7363 !important;
}