/* Base Styles */
.main-content {
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  font-size: 16px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  font-weight: inherit;
}

h6 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

p {
  margin: 0 !important;
}

input {
  display: inline-block;
  background-color: initial;
  width: 100%;
  font-size: 1rem;
  color: #242420;
  border: none;
  box-shadow: none;
}

input:disabled {
  background-color: #f6f6f6;
  color: #333;
  -webkit-text-fill-color: #333;
}

.wrap-svg {
  line-height: 0;
  -webkit-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer !important;
}

.text-disabled {
  color: #666 !important;
}

/* Components */
.fix-img {
  position: relative;
  max-width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.btn1 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: initial;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.btn1.btn--s {
  padding: 12px 20px;
}

.btn1.btn-save {
  background-color: #1D7363;
  color: white;
  border-color: #1D7363;
  margin-right: 8px;
}

.btn1.btn-cancel {
  background-color: #f04438;
  color: white;
  border-color: #f04438;
}

.avatar {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.avatar--xl {
  width: 148px;
  height: 148px;
  line-height: 148px;
}

.custom-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.custom-input .wrap-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.custom-input .wrap-input.disabled {
  border-color: #f6f6f6;
  background: #f6f6f6;
}

.custom-input .wrap-input .wrap-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-input .wrap-info {
  display: flex;
  justify-content: space-between;
}

.custom-input .wrap-info .title-status {
  display: flex;
  align-items: center;
  gap: 4px;
}

.custom-input .wrap-info .title-status p {
  font-size: .9rem;
  font-weight: 700;
  color: #767676;
}

/* Layout */
.content-item {
  background: #fff;
  border-radius: 12px;
  padding: 24px 32px;
  border: 1px solid #1D7363;
  margin-bottom: 20px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 0;
}

.user-profile .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.user-profile .title-edit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile .title-edit h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 0;
  color: #1D7363;
}

.user-profile .title .total-trips {
  display: flex;
  align-items: baseline;
  padding: 8px 16px;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.total-trips .count {
  font-size: 1.5rem;
  font-weight: 800;
  color: #1D7363;
}

.total-trips span {
  font-size: .875rem;
  font-weight: 500;
  color: #767676;
}

/* User Profile Content */
.user-profile .content {
  display: flex;
  gap: 36px;
}

.user-profile .content .avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 30%;
}

.user-profile .content .avatar-box h6 {
  text-align: center;
}

.user-profile .content .avatar-box .has-edit {
  cursor: pointer;
  position: relative;
  display: block;
}

.user-profile .content .avatar-box .avatar-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.user-profile .content .avatar-box .has-edit:hover .avatar-edit-overlay {
  opacity: 1;
}

.user-profile .content .avatar-box p.note {
  font-size: .75rem;
  font-weight: 500;
  color: #666;
  text-align: center;
}

.user-profile .content .info-user {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 24px;
}

/* Info Description */
.user-profile .content .info-user .info-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-profile .content .info-user .info-desc__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.user-profile .content .info-user .info-desc__item .title-item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
  color: #6f6f6f;
}

.user-profile .content .info-user .info-desc__item .name {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Driver License Section */
.driver-license {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.driver-license .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.driver-license .title .title-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.driver-license .title .title-item h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1D7363;
}

.driver-license .title .title-item__info {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626;
}

.driver-license .title .title-item__info.error {
  background: #ffd0cd;
}

.driver-license .learn-more {
  display: flex;
  align-items: center;
  gap: 8px;
}

.driver-license .learn-more p {
  font-size: .75rem;
  font-weight: 500;
  color: #666;
}

.driver-license .note-license {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffd0cd;
}

.driver-license .note-license p {
  font-size: 12px;
  color: #f04438;
}

/* License Content */
.driver-license .content {
  display: flex;
  gap: 24px;
}

.driver-license .content .info-license {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.driver-license .content .info-license__title p {
  font-weight: 600;
}

.driver-license .content .info-license__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.driver-license .content .info-license__img .fix-img {
  padding-bottom: 65%;
  border-radius: 16px;
}

.driver-license .content .info-license__img .fix-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

/* Responsive Design */
@media (max-width: 1199px) {
  .main-content .content-item {
    padding: 24px;
  }

  .driver-license .content {
    flex-direction: column;
  }

  .driver-license .content .info-license {
    width: 100%;
  }

  .user-profile .content {
    flex-direction: column;
    gap: 24px;
  }

  .user-profile .content .avatar-box {
    width: 100%;
    align-items: center;
    gap: 8px;
  }

  .user-profile .content .info-user {
    width: 100%;
    gap: 20px;
  }
}

@media (max-width: 991px) {
  .content-item {
    padding: 24px 16px;
  }
}