@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');


:host {
  display: block;
  width: 100%;
}

.btn-icon-round {
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}
.btn-icon-round i { font-size: 16px; }

.btn-icon-round.btn-outline {
  background-color: #ffffff;
  color: #1D7363;
  border: 1px solid #1D7363;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.btn-icon-round.btn-outline:hover {
  background-color: #1D7363;
  color: #ffffff;
  transform: translateY(-2px);
}

input:disabled { background-color: #f6f6f6; color: #333; -webkit-text-fill-color: #333; }
input { display: inline-block; width: 100%; font-size: 1rem; color: #242420; border: none; box-shadow: none; }
.wrap-svg { line-height: 0; -webkit-user-select: none; user-select: none; }
.pointer { cursor: pointer !important; }

.btn1 { display:inline-flex; align-items:center; gap:8px; font-weight:700; padding:8px 16px; border-radius:8px; border:1px solid #e0e0e0; }
.btn1.btn--s { padding:12px 20px; }

.main-content {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    font-size: 16px;
    padding: 0;
    padding-top: 40px;
}
.content-account { display:flex; flex-direction:column; gap:24px; width:100%; margin: 0; padding: 0; }

.content-item { background:#fff; border-radius:12px; padding:24px 32px; border:1px solid #1D7363; width:100%; margin:0; }
.user-profile { display:flex; flex-direction:column; gap:24px; }

.user-profile .title { display:flex; align-items:center; justify-content:space-between; gap:8px; }
.user-profile .title-edit { display:flex; align-items:center; gap:8px; }
.user-profile .title-edit .wrap-svg { padding:6px; border-radius:100%; border:1px solid #e0e0e0; cursor:pointer }
.user-profile .title-edit h5 { font-size:1.25rem; font-weight:600; color:#1D7363; margin-bottom:16px }
.user-profile .content { display:flex; gap:36px; }
.user-profile .content .avatar-box { display:flex; flex-direction:column; align-items:center; gap:16px; width:30%; }
.user-profile .content .avatar-box h6 { text-align:center }
.user-profile .content .avatar-box p.note { font-size:.75rem; font-weight:500; color:#666; text-align:center }

.avatar { position:relative; border:1px solid #e0e0e0; overflow:hidden; display:inline-block; border-radius:100%; }
.avatar img { width:100%; height:100%; object-fit:cover; display:block; border-radius:50%; }
.avatar--xl { width:148px; height:148px; line-height:148px }

.user-profile .content .info-user { display:flex; flex-direction:column; width:70%; gap:24px; }
.user-profile .content .info-user .info-desc { display:flex; flex-direction:column; gap:20px; }
.user-profile .content .info-user .info-desc__item { width:100%; display:flex; align-items:center; justify-content:space-between; padding-bottom:15px; border-bottom:1px solid #e0e0e0; }
.user-profile .content .info-user .info-desc__item .title-item { font-size:.8rem; font-weight:500; color:#6f6f6f }
.user-profile .content .info-user .info-desc__item .name { font-size:1rem; font-weight:600; color:#000; display:flex; align-items:center; gap:8px }

.learn-more { display:flex; align-items:center; gap:8px }
.user-profile .title .total-trips {
  display: flex;
  align-items: baseline;
  padding: 8px 16px;
  grid-gap: 4px;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid #e0e0e0
}

.total-trips .count {
  font-size: 1.5rem;
  font-weight: 800;
  color: #1D7363
}


.total-trips span {
  font-size: .875rem;
  font-weight: 500;
  color: #767676
}

.user-profile .info-note {
  display: flex;
  flex-direction: column;
  background: #effaf3;
  border-radius: 8px
}

.user-profile .content {
  display: flex;
  grid-gap: 36px;
  gap: 36px
}
.user-profile .content .avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 16px;
  gap: 16px;
  width: 30%

}
.user-profile .content .avatar-box h6 {
  text-align: center
}

.user-profile .content .avatar-box .has-edit {
  cursor: pointer
}

.user-profile .content .avatar-box .has-edit:hover:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: rgba(0, 0, 0, .5);
  background-image: url(/static/media/camera.0ef15ed5.svg);
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: 50%
}

.user-profile .content .avatar-box p.note {
  font-size: .75rem;
  font-weight: 500;
  color: #666;
  text-align: center
}

.user-profile .content .info-user {
  display: flex;
  flex-direction: column;
  width: 70%;
  grid-gap: 24px;
  gap: 24px
}
.user-profile .content .info-user.center {
  height: 146px;
  justify-content: center
}

.user-profile .content .info-user .info-box {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  background: #f6f6f6
}

.user-profile .content .info-user .info-box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px;
  gap: 8px
}

.user-profile .content .info-user .info-box .title .btn {
  font-size: .75rem
}

.user-profile .content .info-user .info-box .title .report {
  padding: 12px;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
  cursor: pointer
}

.user-profile .content .info-user .info-box__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between
}

.user-profile .content .info-user .info-box__item p {
  font-size: .75rem;
  color: #6f6f6f;
  font-weight: 500
}

.user-profile .content .info-user .info-box__item p.main {
  font-size: 1rem;
  color: #000;
  font-weight: 600
}


.user-profile .content .info-user .info-desc {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 20px;
}

.user-profile .content .info-user .info-desc .note-desc {
  font-size: .75rem;
  font-weight: 500;
  color: #666
}

.user-profile .content .info-user .info-desc__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
  gap: 4px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.user-profile .content .info-user .info-desc__item .title-item {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
  color: #6f6f6f
}

.user-profile .content .info-user .info-desc__item .title-item .note {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626
}

.user-profile .content .info-user .info-desc__item .title-item .note.success {
  background: #cff1db
}

.user-profile .content .info-user .info-desc__item .title-item .note.warning {
  background: #ffe2bb
}

.user-profile .content .info-user .info-desc__item .title-item .note.error {
  background: #ffd0cd
}

.user-profile .content .info-user .info-desc__item .name {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px
}

.user-profile .content .info-user .info-desc__item .name .wrap-svg {
  cursor: pointer
}

.driver-license {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
  margin-top: 24px;
}

.driver-license .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 8px;
  gap: 8px
}

.driver-license .title .title-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px
}

.driver-license .title .title-item h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1D7363
}

.driver-license .title .title-item__info {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626
}

.driver-license .title .title-item__info.success {
  background: #cff1db
}

.driver-license .title .title-item__info.warning {
  background: #ffe2bb
}

.driver-license .title .title-item__info.error {
  background: #ffd0cd
}
.driver-license .title .blah {
  margin: -36px 0 20px auto
}

.driver-license .title .wrap-btn.has-2-btn {
  padding-top: 0;
  width: unset
}

.driver-license .title .btn {
  font-size: .75rem
}

.driver-license .learn-more {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px
}

.driver-license .learn-more p {
  font-size: .75rem;
  font-weight: 500;
  color: #666
}

.driver-license .learn-more .wrap-svg {
  cursor: pointer
}

.driver-license .note-license {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffd0cd
}

.driver-license .note-license p {
  font-size: 12px;
  color: #f04438
}

.driver-license .content {
  display: flex;
  grid-gap: 24px;
  gap: 24px
}

.driver-license .content .info-license {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px
}

.driver-license .content .info-license .support {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 14px
}

.driver-license .content .info-license .support p {
  font-size: 14px
}

.driver-license .content .info-license .custom-input .wrap-input .wrap-text span,
.driver-license .content .info-license .support a {
  font-weight: 600
}
.driver-license .content .info-license .custom-input .wrap-info {
  align-items: center
}

.driver-license .content .info-license__title p {
  font-weight: 600
}

.driver-license .content .info-license__upload {
  position: relative;
  border: 2px dashed #e0e0e0;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.driver-license .content .info-license__upload p {
  font-size: .75rem;
  font-weight: 500;
  color: #666;
  text-align: center
}

.driver-license .content .info-license__upload p.main {
  font: 14px;
  font-weight: 800;
  color: #262626
}

.driver-license .content .info-license__upload .fileUploader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.driver-license .content .info-license__upload .fileUploader .fileContainer {
  width: 100%;
  height: 100%;
  margin: 0
}

.driver-license .content .info-license__upload .fileUploader .fileContainer .chooseFileButton {
  opacity: 0
}

.driver-license .content .info-license__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px
}

.driver-license .content .info-license__img.has-edit {
  cursor: pointer
}

.driver-license .content .info-license__img.has-edit:hover:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  background-image: url(/static/media/camera.0ef15ed5.svg);
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: 50%;
  border-radius: 16px
}
 .driver-license .content .info-license__img .fix-img {
  padding-bottom: 65%;
  border-radius: 16px
}

.driver-license .content .info-license__img .fix-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.driver-license .content .info-license__img .fileUploader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.driver-license .content .info-license__img .fileUploader .fileContainer {
  width: 100%;
  height: 100%;
  margin: 0
}

.driver-license .content .info-license__img .fileUploader .fileContainer .chooseFileButton {
  opacity: 0
}


.driver-license .content .info-license__img .fileUploader .fileContainer .chooseFileButton {
  opacity: 0
}



.wrap-btn.user-report .btn.active,
.wrap-btn.user-report .btn:active,
.wrap-btn.user-report .btn:focus,
.wrap-btn.user-report .btn:hover {
  border-bottom: 1px solid #5fcf86
}


@media (max-width: 1199px) {
  h1 {
    font-size: 3.5rem
  }

  h2 {
    font-size: 2.75rem
  }

  .main-container {
    max-width: none;
  }
  .account-section .account-container .main-content,
  .account-section .account-container .sidebar-account {
    width: 100%;
    padding: 40px;
  }

  .content-item {
    padding: 24px
  }

  .main-content .user-profile .content .info-user .info-note .note-five-star {
    align-items: center
  }

  .main-content .driver-license .content {
    flex-direction: column
  }

  .main-content .driver-license .content .info-license {
    width: 100%
  }

  .main-content .driver-license .content .info-license__upload {
    padding: 20% 0
  }

  .main-content .driver-license .content .info-license .support {
    padding: 12px
  }

  .main-content .fav-car {
    flex-direction: row;
    flex-wrap: wrap
  }

  .user-profile .content {
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
  }

  .user-profile .content .avatar-box {
    width: 100%;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
  }

  .user-profile .content .info-user {
    width: 100%;
    grid-gap: 20px;
    gap: 20px;
  }

  .account-section .account-container.content-item {
    padding: 24px 16px;
  }
}

@media (max-width: 1024px) {
  .account-section .account-container {
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    flex: none;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .m-container {
    max-width: 720px;
  }

  .space.sec {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .account-section .account-container {
    flex-direction: column;
  }

  .content-wrapper {
    flex: none;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main-container, .s-container {
    max-width: 540px;
    padding-top: 0;
  }

  .space.sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .main-container {
    max-width: none;
    margin: 0 16px;
    padding-top: 0;
  }

  .title{
    flex-wrap: wrap;
  }

  .user-profile .title .total-trips {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 4px 12px;
  grid-gap: 4px;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid #e0e0e0
  }

  .total-trips .count {
    font-size: 14px;
    font-weight: 800;
    color: #1D7363
  }

}