
:root {
  --content-bg: #F9FAFB;
  --active-bg: #F3F4F6;
  --border-color: #E5E7EB;
  --text-color: #000000;
  --active-text: #1D7363;
  --main-color: #1D7363;
}

:host {
  display: flex;
  flex-grow: 1; 
  width: 100%;
}

.btn-primary-custom {
  background-color: #1d7363; 
  border-color: #1d7363;
  border-radius: 8px;
  color: #FFFFFF;
}


.main-content {
  height: 100%; 
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
  font-size: 16px; 
}

.main-content > h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 5px;
}

.search-wrapper {
  position: relative;
  margin-top: 5px;
}

.search-wrapper .search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6B7280;
}


.search-wrapper .search-input {
  border-radius: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  padding-left: 1.5rem;
  padding-right: 2.5rem; 
  border: 1px solid #6B7280 !important;
  width: 250px;
}

.table-responsive-wrapper {
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 16px; 
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #1D7363;
  max-width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
}

.table {
  margin-bottom: 10px;
  margin-left: auto; 
  margin-right: auto; 
}

.table thead th {
  background-color: #fcfcfc;
  font-size: 16px; 
}

.table tbody td {
  vertical-align: middle;
  color: var(--text-color); 
  font-size: 16px;
  text-align: left;
}

.table tbody tr:hover {
  background-color: #eef6f4;
  color:#1D7363;
  cursor: pointer;
}

.pagination .page-link {
  border: none;
  background-color: transparent;
  color: var(--text-color); 
  border-radius: 50%; 
  margin: 0 0;
}

.pagination .page-link:hover {
  background-color: var(--active-bg);
}

.pagination .page-link i {
  font-size: 16px; 
}

.pagination .page-item.active .page-link {
  background-color: #1D7363; 
  color: #FFFFFF;
}
