.tc-footer {
  background: #fff;
  border-top: 1px solid #e7e7e7;
  color: #0f172a;
}

.tc-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.brand-text {
  font-family: 'Montserrat', 'Inter', sans-serif;
  color: #1D7363;
}


img{
  width: 30px
}


.badge-bct {
  width: 100%;
  object-fit: contain;
}


h6 {
  font-weight: 600;
  color: black;
}
