<!-- Modal -->
<div class="modal fade" id="forgetPasswordModal" tabindex="-1" aria-labelledby="forgetPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-4 pb-4">
        <!-- Step 1: nhập email/sđt -->
        <ng-container *ngIf="!showVerification">
          <h3 class="topic">Quên mật khẩu</h3>
          <p class="vuilong">Vui lòng nhập địa chỉ Email hoặc số điện thoại bạn đã sử dụng để tạo tài khoản, chúng tôi
            sẽ gửi cho bạn mã xác thực để đặt lại mật khẩu</p>
          <p class="label">Nhập số điện thoại hoặc email để đặt lại mật khẩu:</p>
          <input type="text" class="form-control mb-3" placeholder="Số điện thoại hoặc Email"
            [(ngModel)]="forgotIdentifier">
          <div *ngIf="forgotError" class="alert alert-danger">{{ forgotError }}</div>
          <button class="btn btn-primary w-100" style="background-color:#1D7363;border:#1D7363"
            (click)="onSendReset()">Tiếp tục</button>
        </ng-container>
        <!-- Step 2: nhập mã xác thực -->
        <ng-container *ngIf="showVerification">
          <h3 class="topic">Quên mật khẩu</h3>
          <p class="vuilong" style="margin-bottom: 18px; font-weight:500;">
            Chúng tôi đã gửi mã xác thực đến
            <strong *ngIf="maskedIdentifier"> {{ maskedIdentifier }} </strong>
          </p>

          <div class="d-flex justify-content-center mb-3" style="gap:10px;">
            <input #otpInput *ngFor="let _ of otp; let i = index"
           type="text" maxlength="1"
           class="form-control text-center"
           [attr.name]="'otp' + i"
           [attr.id]="'otp' + i"
           [value]="otp[i]"
           inputmode="numeric" pattern="[0-9]*"
           autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
           style="width:48px;height:48px;border-radius:8px; background:#e9ecef; font-size:20px;"
           (input)="onOtpInput($event, i)">
          </div>

          <button class="btn btn-primary w-100 mb-3" (click)="onVerify()">Tiếp tục</button>

          <div class="text-center">
            <span>Bạn chưa nhận được mã?</span>
            <a href="#" (click)="onResend($event)" style="margin-left:6px; color:#1D7363; font-weight:600;">Gửi lại
              mã</a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>